@import '../themes.scss';
@import '../mixins.scss';

.layout {
  margin: 40px auto 0;
  width: 100%;
  max-width: 700px;
  overflow: hidden;
  padding: 40px;

  @include media-breakpoint-down(xs) {
    padding: 20px;
    margin: 10px auto 0 auto;
  }
}

.heading {
  color: $textColor;
  font-size: 35px;
  font-weight: 800;
  margin-bottom: 20px;
}

.content {
  background-color: $textColor;
  padding: 20px;
}

.list {
  > li:not(:last-child) {
    border-bottom: 1px solid #e8e8e8;
  }
}
.card {
  border-radius: 5px;
  margin-bottom: 20px;

  .item {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .icon {
      cursor: pointer;
      font-size: 15px;
    }
  }
}

.modal {
  max-width: 380px !important;
  margin: auto;
  background: $backgroundColor !important;
  box-shadow: none;

  @include media-breakpoint-down(xs) {
    padding: 0 10px !important;
  }

  .body {
    padding: 40px;
    border-radius: 5px;

    .title {
      color: $textColor;
      font-weight: 800;
      text-align: center;
      margin-bottom: 20px;
    }
    .paragraph {
      color: $textColor;
      text-align: center;
      margin-bottom: 15px;
    }
    .form {
      margin-bottom: 15px;
    }
    .button {
      display: block;
      width: 100%;
    }
  }
}
