$backgroundColor: #252236;
$secondaryBackground: #2f2c45;
$secondaryBackgroundHover: #2f2c53;
$textColor: #fff;
$blue: #3381bc;
$backColor: #989cad;
$backColorHover: #989cad;
$blueHover: #056b93;
$green: #35d7a9;
$greenHover: #5de3b9;
$red: #ff4a55;
$textGrey: #869ab8;

$backgroundColorLight: #ffffff;
$secondaryBackgroundLight: #f2f6fa;
$secondaryBackgroundHoverLight: #ebf1f7;
$textColorLight: #202d4a;

$themes: (
  light: (
    backgroundColor: #fff,
    textColor: #408bbd,
    buttonTextColor: #408bbd,
    buttonTextTransform: none,
    buttonTextHoverColor: #61b0e7,
    buttonColor: #fff,
    buttonBorder: 2px solid #fff,
  ),
  dark: (
    backgroundColor: #252236,
    secondaryColor: #2f2c45,
    textColor: #fff,
    buttonTextColor: #fff,
  ),
);

@mixin themify($themes) {
  @each $theme, $map in $themes {
    .theme-#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge(
          $theme-map,
          (
            $key: $value,
          )
        ) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}
@function themed($key) {
  @return map-get($theme-map, $key);
}
